.manifestList li:not(:last-child)::after {
  content: ".";
  display: block;
}

.checkMarker {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media screen and (min-width: 768px) {
  .sadhanaCardWidth {
    width: 32rem;
  }
}

.checkMarker li {
  display: flex;
  gap: 0.5rem;
}

.checkMarker li:before {
  font-size: 1rem;
  font-family: "Material Icons";
  content: "check_circle_outline";
}

.sideDots > div {
  position: relative;
}

.sideDots > div::after {
  position: absolute;
  top: 50%;
  left: -2.4rem;
  content: '';
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: rgba(215, 215, 215, 1);
}

.sideDots > div:not(:first-child, :last-child)::before {
  position: absolute;
  content: "";
  left: -2rem;
  top: 0px;
  height: 115%;
  width: 2px;
  background-color: rgba(215, 215, 215, 1);
}

.sideDots > div:first-child::before {
  position: absolute;
  content: "";
  left: -2rem;
  top: 50%;
  height: 70%;
  width: 2px;
  background-color: rgba(215, 215, 215, 1);
}

.sideDots > div:last-child::before {
  position: absolute;
  content: "";
  left: -2rem;
  top: -20%;
  height: 70%;
  width: 2px;
  background-color: rgba(215, 215, 215, 1);
}