.sadhanaCardText {
  width: 20rem;
}

@media screen and (max-width: 768px) {
  .sadhanaCardText {
    width: 75vw;
  }
}

.transitionDuration{
  transition-property: all;
  transition-duration: 300ms;
}

.openGracefully{
  max-height: 100px;
  @apply mlb-4;
}
